@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: 'burtons';
  src: url("../../public/Burtons.otf");
} */

/* 
@font-face { 
  font-family: "burtons";
  src: url("../../public/Burtons.otf")
} */

.scroll-container {
  scroll-behavior: smooth;
}

/* @layer base {
  body {
    @apply dark:bg-gray-900 bg-white
  }
} */


@font-face {
  font-family: "SFUItext";
  src: url("../../public/fonts/SFUIText.ttf");
}